.dvpCamaraNumeroGrande{
    font-size: 25pt;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    margin-top: -5%;
    margin-bottom: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    /* background-color: red; */
    border-radius: 50%;
}
