.card{
    border: 1px solid red;
    width: 20%;
}

.cardTitle{
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

.dia{
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;

}