.divMenuTodo{
    width: 810px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* border-style: solid;
    border-width: 6px;
    border-color: rgb(255, 0, 208); */
}

.divMenu{
    border-radius: 8px;
    display: flex;
    justify-content: left;
    gap: 20px;
    /* flex-direction: row; */
    margin-bottom: 10px;
    /* border-style: solid;
    border-width: 1px;
    border-color: blue; */
}
  
.divMenu > a{
    width: 180px;
}

.botao button{
    margin-top: 0;
}
