.divInfo{
    width: 800px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.diCalendario{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

.espacoEmbaixoDoTexto{
    margin-bottom: 20px;
}